.block-footer-2 .columns {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin: -2rem;
}

.block-footer-2 .column {
  flex: 0 0 calc(50% - 4rem);
  margin: 2rem;
}

.block-footer-2 img {
  max-width: 100%;
}

@media screen and (min-width: 700px) {
  .block-footer-2 .column {
    flex: 0 0 calc(25% - 4rem);
  }
}