.block-hero-2 {
  --bg: var(--color-primary);
  --text: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}

.block-hero-2 .columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.block-hero-2 .column.text {
  flex: 0 0 100%;
  text-align: center;
}

.block-hero-2 .column.media {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.block-hero-2 .column.text p {
  margin: 1rem 0 2rem 0;
  color: var(--color-white);
  font-size: 1rem;
}

.block-hero-2 .column.media img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  
  .block-hero-2 .column.text {
    flex: 0 0 45%;
    text-align: left;
  }
  
  .block-hero-2 .column.media {
    flex: 0 0 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .block-hero-2 .column.media img {
    width: 45vw;
    max-width: 520px;
  }

}