.block-two-column-1 .columns {
  display: flex;
  flex-wrap: wrap;
  margin: -2rem;
}

.block-two-column-1 .column {
  flex: 0 0 calc(100% - 4rem);
  margin: 2rem;
  text-align: center;
}

.block-two-column-1 .column h3 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 750px) {
  .block-two-column-1 .column {
    flex: 0 0 calc(50% - 4rem);
  }
}