.block-media-2 .columns {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.block-media-2 .column {
  flex: 0 0 calc(100% - 2rem);
  margin: 1rem;
}

.block-media-2 .column img {
  max-width: 100%;
}

.block-media-2 figcaption {
  font-size: 0.7rem;
  color: var(--color-black-3);
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 700px) {
  .block-media-2 .columns {
    margin: -2rem;
  }
  .block-media-2 .column {
    flex: 0 0 calc(50% - 4rem);
    margin: 2rem;
  }  
}