.button {
  outline: none;
  border: 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255, 0.5);
  user-select: none;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255, 0.2);
}

.button.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button.primary.inverted {
  background-color: var(--color-white);
  color: var(--color-black);
}


/* Input button */

input + .button {
  box-shadow: none;
}

input + .button:active {
  transform: translate(0);
  box-shadow: none;
}