h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  line-height: 1;
}

h1 span.light { font-weight: 300; }

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h2 span.light {
  font-weight: 300;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.35;
}

p {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-black-3);
  line-height: 1.35;
}

@media screen and (min-width: 700px) {
  h1 { font-size: 3.5rem; }
}

@media screen and (min-width: 1000px) {
  h1 { font-size: 4rem; }
}