<section class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>Column 1</h3>
        <p>Danish gummi bears donut dessert apple pie halvah pudding cupcake. Soufflé cake wafer tiramisu cake. Jujubes cheesecake cotton candy.</p>
      </div>
      <div class="column">
        <h3>Column 2</h3>
        <p>Apple pie danish chupa chups liquorice cookie cookie. Pudding donut sesame snaps chupa chups toffee. Pudding toffee candy toffee cake.</p>
      </div>           
    </div>
  </div>
</section>