<section class="block block-hero-2" style="background-image: url('/img/hero-2-bg.png')">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">Forestry</span><br>design blocks</h1>
        <p>The tool you need to do this and that<br>and yatta yatta.</p>
        <button class="button primary inverted">Download for macOS</button>
      </div>
      <div class="column media">
        <img src="/img/product-shot-1.png" alt="Product shot">
      </div>
    </div>
  </div>
</section>