<section class="block block-text-1">
  <div class="container">
    <div class="columns">
      <div class="column headline">
        <h3>Headline</h3>
      </div>
      <div class="column text">
        <p>Oat cake icing jujubes candy canes sweet powder cake bear claw cotton candy. Liquorice candy soufflé liquorice gummi bears gummi bears. Danish liquorice macaroon sesame snaps tootsie roll wafer.</p>
        <p>Macaroon sugar plum dragée. Pie pie bear claw ice cream. Jelly-o lollipop bear claw jelly beans brownie gummi bears dessert toffee. Sweet roll chupa chups lemon drops dessert jelly.</p>
        <p>Tiramisu jujubes jelly-o. Apple pie jelly beans cake pie lollipop croissant apple pie sugar plum jelly beans. Pudding pastry carrot cake topping cookie wafer.</p>
      </div>
    </div>
  </div>
</section>