<div class="block block-cta-bar">
  <div class="container">
    <div class="columns">
        <div class="text">
          <p>{{ section.content }}</p>
        </div>
        <div class="cta">
          <form action="https://formspree.io/{{ section.email_recipient }}" method="POST">
            <input type="email" placeholder="your@email.com" class="inverted">
            <button type="submit" class="button primary inverted">Sign up</button>
          </form>
        </div>
    </div>
  </div>
</div>