<section class="block block-media-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure>
          <img src="{{ section.image_1.image | relative_url }}" alt="{{ section.image_1.caption }}">
          {% if section.image_1.caption %}
          <figcaption>{{ section.image_1.caption }}</figcaption>
          {% endif %}
        </figure>        
      </div>
      <div class="column">
        <figure>
            <img src="{{ section.image_2.image | relative_url }}" alt="{{ section.image_2.caption }}">
            {% if section.image_2.caption %}
            <figcaption>{{ section.image_2.caption }}</figcaption>
            {% endif %}
        </figure>        
      </div>
    </div>
  </div>
</section>