<header class="block block-header-1">

  <div class="block-header-1--logo">
    <a href="{{ "/" | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
    </a>
  </div>

  <nav class="block-header-1--nav">
    <ul>
      {% for nav_item in section.navigation %}
      <li class="nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a></li>
      {% endfor %}
    </ul>
  </nav>

</header>
