@import "imports/reset.css";
@import "imports/variables.css";
@import "imports/type.css";
@import "imports/layout.css";
@import "imports/block.css";

/* Components */
@import "imports/button.css";
@import "imports/input.css";

/* Blocks */
@import "imports/block-header-1.css";
@import "imports/block-header-2.css";
@import "imports/block-header-3.css";
@import "imports/block-hero-1.css";
@import "imports/block-hero-2.css";
@import "imports/block-one-column-1.css";
@import "imports/block-two-column-1.css";
@import "imports/block-three-column-1.css";
@import "imports/block-cta-bar.css";
@import "imports/block-footer-1.css";
@import "imports/block-footer-2.css";
@import "imports/block-text-1.css";
@import "imports/block-feature-1.css";
@import "imports/block-feature-2.css";
@import "imports/block-media-1.css";
@import "imports/block-media-2.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

*::-moz-selection {
  background: var(--color-highlight);
  color: var(--color-black-2);
}

*::-webkit-selection {
  background: var(--color-highlight);
  color: var(--color-black-2);
}

*::selection {
  background: var(--color-highlight);
  color: var(--color-black-2);
}