/*======= FONTS =======*/
@import "fonts/aspira.css";
/*======= GENERAL =======*/
html {
    font-size: 14px;
}
body {
    font-family: 'Aspira';
}
h1 {
    font-size: 96px;
    line-height: 75px;
}
h2 {
    font-size: 68px;
    line-height: 76px;
}
h3 {
  font-size: 48px;
}
h4 {
    font-size: 30px;
}
.font-demi {
    font-family: 'Aspira-Demi';
}
.card .font22, .collapsible li.active .collapsible-header, h1, h2, h3, h4, .title {
    font-family: 'Aspira-Heavy';
}
a {
    color: #ff1744;
}
a.ul {
    border-bottom: 1px solid;
}
.font18, h6 {
    font-size: 18px;
}
.container {
    max-width: 90%;
    width:90%;
}
.btn-outline {
    border: 1px solid;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-underline{
    text-decoration: underline;
}
a.text-underline:hover{
    text-decoration: none;
}
/*======= NAVBAR =======*/
nav {
    font-family: 'Aspira-Medium';
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
nav .brand-logo {
    font-size: 42px;
}
nav li a:hover {
    color: #ff1744!important;
}
nav ul li.active {
	text-decoration: underline;
	background-color: #fff;
}
#dropdown1 {
    width: auto!important;
    left: auto!important;
    top: auto!important;
    right: 0!important;
    border-radius: 5px;
    margin-top: -10px;
    padding-top: 10px;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #000;
    text-transform: none;
    padding: 10px 20px;
}
.dropdown-content li>a:hover {
    color: #ff1744;
}
.dropdown-content li {
    min-height: 0;
    background: transparent!important;
}

/*======= INDEX BANNER =======*/
#index-banner {
    padding: 140px 0;
    height: auto;
}
#index-banner h5 {
    font-size: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-image: radial-gradient(circle at 66% 46%, rgb(255,255,255), rgb(0,0,0));
    z-index: -1;
}

/*======= HOME SECTION ONE =======*/
.two, .four, .five {
font-size: 18px;
}
.one {
    padding: 160px 0;
}
.icon, .icon img {
    margin: auto
}
.icon {
    width: 140px;
    height: 140px;
}
/*======= HOME SECTION TWO =======*/
.two, .four, .five {
    padding: 140px 0;
    overflow: hidden;
}
.two .card {
    border-radius: 9px;
    overflow: hidden;
}
.two .card .card-content {
    padding: 35px 35px 60px ;
}
.two .btn-block {
    width: 31%;
}

.carousel .indicators .indicator-item {
    background-color: rgb(158, 158, 158);
}

.carousel .indicators .indicator-item.active {
    background-color: #ff1744;
}

.Rectangle {
    width: 60px;
    height: 5px;
}

.padding-o {
    padding: 0 !important;
}

#materialize-slider {
    background: url(/static/images/mesh.svg) no-repeat right/contain;
}

.carousel.carousel-slider {
    height: auto !important;
}

.carousel.carousel-slider .carousel-item.active, .checklist li,.carousel .indicators {
    position: relative;
}

#carousel.carousel.carousel-slider .carousel-item {
    background-color: #fff;
    min-height: 1px;
}

.carousel.carousel-slider .carousel-fixed-item {
    top: calc(50% - 20px);
}

.button-icon {
    position: absolute;
}

.iconplaybuttonleft {
    transform: rotate(180deg);
}

.rightbutton,
.leftbutton {
    display: none;
}

#carouselnew:hover .leftbutton,
#carouselnew:hover .rightbutton {
    display: block;
}
/*======= HOME SECTION THREE =======*/
#testimonials {
    background: url(/static/images/mesh.svg) no-repeat center right;
    background-size: 20% auto;
    padding: 140px 0;
    font-size: 18px;
}
#testimonials blockquote {
    border: none;
    padding: 0;
    font-style: italic;
}

/*======= INNER PAGE =======*/
.sub-title {
    font-size: 28px;
     font-family: Aspira;
}
.checklist li {
    margin-bottom: 20px;
    padding-left: 25px;
}
.checklist li i {
    position: absolute;
    left: 0;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.pricing-card .card-content {
    padding-bottom: 20px;
    align-content: space-between;
}
.pricing-card .card-content *{
    width:100%;
}
/* form */

#form-contact .input-field label {
    color: #9b9b9b;
    line-height: 1.5;
}

/* label focus color */

#form-contact .input-field input:focus+label {
    color: #000;
    font-size: 14px;
}

/* label underline focus color */

#form-contact .input-field input:focus {
    border-bottom: 1px solid rgba(29, 233, 182, 1);
    box-shadow: 0 1px 0 0 rgba(29, 233, 182, 1);
}

/* valid color */

.collapsible.p-lr-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.collapsible li.active .collapsible-header {
    border-bottom: 4px solid #70e3c9;
    color: #000;
}

.collapsible li.active .collapsible-body {
    color: #191a1b;
}

.mb-0 {
    margin-bottom: 0px!important;
}

.pb-0 {
    padding-bottom: 0px!important;
}

.flex-end {
    align-items: flex-end;
}

.txt-upper {
    text-transform: uppercase;
}

.font22, .card .font22, .title, .collapsible li.active .collapsible-header {
    font-size: 22px;
}
.font16,.two .card, #form-contact .input-field label, .collapsible li.active .collapsible-body, .dropdown-content li>a, .dropdown-content li>span{
    font-size: 16px;
}

.dabba{
  width: 40px;
  height: 5px;
  background-color: #ee261b;
  margin: 30px auto;
}
.o7-blog {
    background-color: #efefef;
    padding: 140px 0;
    padding-bottom: 15%;
}
.img-full {
    width: 100%;
    max-width: 100%;
}
/*======= FOOTER =======*/
footer {
    padding: 80px 0 150px 0;
    font-size: 20px;
}
footer hr {
    border-color: rgba(255, 255, 255, 0.3);
} 
footer ul li {
    display: inline-block;
    margin-right: 10px;
}
footer a {
    color: #fff;
}
footer a:hover {
    opacity: 0.9;
}

/*======= RESPONSIVE =======*/
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 56px;
        line-height: 49px;
    }
    h2 {
        font-size: 54px;
        line-height: 62px;
    }
    h4 {
        font-size: 16px;
    }
    nav li a {
        padding: 15px;
    }
    .valign-wrapper {flex-wrap: wrap;}
    #index-banner {
        text-align: center;
        padding: 70px 0;
    }
    #index-banner .btn-large {
        margin-bottom: 20px;
    }
    #testimonials {
        padding: 0;
    }
}


#auth_modal {
	top: 20% !important;
	width: 25%;
}

.m-t-0 {
    margin-top: 0px
}
.m-t-30 {
    margin-top: 30px
}

.m-t-40 {
    margin-top: 40px
}

.m-t-60 {
    margin-top: 60px
}
.m-t-70 {
    margin-top: 70px
}

.m-r-0 {
    margin-right: 0px
}

.m-r-10 {
    margin-right: 10px
}
.m-r-30 {
     margin-right: 30px
}
.m-b-0 {
    margin-bottom: 0px
}

.m-b-20 {
    margin-bottom: 20px
}

.m-b-30 {
    margin-bottom: 30px
}

.m-b-40 {
    margin-bottom: 40px
}

.m-b-50 {
    margin-bottom: 50px
}

.m-b-60 {
    margin-bottom: 60px
}

.m-b-70 {
    margin-bottom: 70px
}
.p-t-70 {
    padding-top: 70px
}
@media only screen and (min-width:800px) {
    #carouselnew .carousel-item {
        width: 290px !important;
    }

    .iconplaybuttonleft,
    .iconplaybuttonright {
        font-size: 70px;
    }

    .about-video {
        height: 300px;
    }
}

@media only screen and (max-width:767px) {
    #carouselnew .carousel-item {
        width: 100% !important
    }
    .iconplaybuttonleft,
    .iconplaybuttonright {
        font-size: 50px;
    }

    .leftbutton,
    .rightbutton {
        display: block;
    }

    .about-video {
        height: 300px;
    }
    #materialize-slider {
        background: none;
    }
}
