/*======= FONTS =======*/
@import "/static/fonts/aspira.css";

@import "/static/css/zeplin.css";

/*======= GENERAL =======*/
html {
    font-size: 14px;
}

body {
    font-family: 'Aspira';
}
h1 {
    font-family: 'Aspira-Black';
    font-size: 96px;
    line-height: 75px;
}
h2 {
    font-family: 'Aspira-Heavy';
    font-size: 68px;
    line-height: 76px;
}
h4 {
    font-size: 30px;
    font-family: 'Aspira-Heavy';
}
h6 {
    font-size: 18px;
}
a {
    color: #ff1744;
}
a.ul {
    border-bottom: 1px solid;
}
.font18 {
    font-size: 18px;
}
.container {
    max-width: 90%;
}
.btn-large {
    font-size: 16px;
    font-weight: bold;
}
.btn-outline {
    border: 1px solid;
}
.btn-block {
    width: 100%;
}
.text-uppercase {
    text-transform: uppercase;
}
.bg-call{
    background-color: #70e3c9;
}
/*======= NAVBAR =======*/
nav {
    font-family: 'Aspira-Medium';
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
nav .brand-logo {
    font-size: 42px;
}
nav li a {
    color: #000;
    padding: 0 28px;
    background: transparent!important;
}
nav li a:hover {
    color: #ee261b;
}
#dropdown1 {
    width: auto!important;
    left: auto!important;
    top: auto!important;
    right: 0!important;
    border-radius: 5px;
    margin-top: -10px;
    padding-top: 10px;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #000;
    text-transform: none;
    font-size: 16px;
    padding: 10px 20px;
}
.dropdown-content li>a:hover {
    color: #ff1744;
}
.dropdown-content li {
    min-height: 0;
    background: transparent!important;
}
#modal1 {
    max-width: 370px;
}
.login-modal .btn-block {
    text-align: left;
}
.login-modal .btn-block img {
    vertical-align: middle;
    margin-right: 10px;
}
.login-modal .btn-block.fb {
    background: #3b5998;
}
.login-modal .btn-block.gh {
    background: #1b1f23;
}

/*======= INDEX BANNER =======*/
#index-banner {
    padding: 140px 0;
    height: auto;
}
#index-banner h5 {
    font-size: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-image: radial-gradient(circle at 66% 46%, white, black);
    z-index: -1;
}

/*======= HOME SECTION ONE =======*/
.one {
    font-size: 18px;
    padding: 160px 0;
}
.icon {
    width: 140px;
    height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 50px;
}
.icon img {
    margin: auto
}

/*======= HOME SECTION TWO =======*/
.two {
    font-size: 18px;
    padding: 140px 0;
    overflow: hidden;
}
.two .owl-carousel {
    padding-left: 0px;
}
.two .owl-stage-outer {
    overflow: visible!important;
}
.two .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
}
.two .owl-carousel .owl-nav button.owl-prev,
.two .owl-carousel .owl-nav button.owl-next {
    background: #000;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s linear;
}
.two .owl-carousel .owl-nav button.owl-prev.disabled,
.two .owl-carousel .owl-nav button.owl-next.disabled {
    opacity: 0!important;
}
.two .owl-carousel:hover .owl-nav button.owl-prev,
.two .owl-carousel:hover .owl-nav button.owl-next {
    opacity: 1;
}
.two .owl-carousel .owl-nav button.owl-prev i,
.two .owl-carousel .owl-nav button.owl-next i {
    font-size: 40px;
    line-height: 60px;
}
.two .owl-carousel .owl-nav button.owl-prev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.two .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.two .card {
    border-radius: 9px;
    overflow: hidden;
    font-size: 16px;
}
.two .card .card-content {
    padding: 35px 35px 60px ;
}
.title {
    font-size: 22px;
    font-weight: bold;
}
.two .btn-block {
    width: 31%;
}

/*======= HOME SECTION THREE =======*/
#testimonials {
    background: url(/static/images/mesh.svg) no-repeat center right;
    background-size: 20% auto;
    padding: 140px 0;
    font-size: 18px;
}
#testimonials blockquote {
    border: none;
    padding: 0;
    position: relative;
    font-style: italic;
}
#testimonials blockquote:before {
    content: '“';
    display: block;
    font-size: 112px;
    height: 56px;
    line-height: 112px;
    position: relative;
    color: #ff1744;
    left: -7px;
    font-style: normal;
}
.three .owl-theme .owl-dots {
    text-align: left;
    margin-top: 30px;
}
.three .owl-theme .owl-dots .owl-dot span {
    background-color: #9e9e9e;
}
.three .owl-theme .owl-dots .owl-dot.active span {
    background-color: #ff1744;
}
.three .owl-theme .owl-dots .owl-dot:first-child span {
    margin-left: 0;
}

/*======= HOME SECTION FOUR =======*/
.four {
    font-size: 18px;
    padding: 140px 0;
    overflow: hidden;
}
/*======= HOME SECTION FIVE =======*/
.five {
    font-size: 18px;
    padding: 140px 0;
    overflow: hidden;
}

/*======= INNER PAGE =======*/
.sub-title {
    font-size: 28px;
}
.checklist li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px;
}
.checklist li i {
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #ff1744;
}
.btn {
    border-radius: 4px;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pricing-col {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: normal;
}

.pricing-card {
    -webkit-box-flex: 0;
    flex-grow: 0;
    align-self: normal;
}

.pricing-card .card-content {
    padding-bottom: 88px;
}

.pricing-card .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    width: calc(100% - 48px);
}

.btn {
    font-size: 16px;
}

.btn.btn-card {
    height: 64px;
    line-height: 64px;
}

.bg-red-accent-3 {
    background-color: #ff1744;
}

.align-normal {
    align-self: normal;
}

.align-flex-end {
    align-items: flex-end;
}

/* form */

/* label color */

#form-contact .input-field label {
    color: #9b9b9b;
    font-size: 16px;
    line-height: 1.5;
}

/* label focus color */

#form-contact .input-field input:focus+label {
    color: #000;
    font-size: 14px;
}

/* label underline focus color */

#form-contact .input-field input:focus {
    border-bottom: 1px solid rgba(29, 233, 182, 1);
    box-shadow: 0 1px 0 0 rgba(29, 233, 182, 1);
}

/* valid color */

.collapsible.p-lr-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.collapsible li.active .collapsible-header {
    border-bottom: 4px solid #70e3c9;
    font-size: 22px;
    font-family: 'Aspira-Heavy';
    color: #000;
}

.collapsible li.active .collapsible-body {
    color: #191a1b;
    font-size: 16px;
}

.mb-0 {
    margin-bottom: 0px!important;
}

.pb-0 {
    padding-bottom: 0px!important;
}

.flex-end {
    align-items: flex-end;
}

.txt-upper {
    text-transform: uppercase;
}

.font22, .card .font22 {
    font-size: 22px;
}
.font16{
    font-size: 16px;
}
.card .font22 {
    font-family: 'Aspira-Heavy';
}
.dabba{
  width: 40px;
  height: 5px;
  background-color: #ee261b;
  margin: 30px auto;
}
.o7-blog {
    background-color: #efefef;
    padding: 140px 0;
    padding-bottom: 15%;
}
.img-full {
    width: 100%;
    max-width: 100%;
}
/*======= FOOTER =======*/
footer {
    padding: 80px 0 150px 0;
    font-size: 20px;
}
footer hr {
    border-color: rgba(255, 255, 255, 0.3);
} 
footer ul li {
    display: inline-block;
    margin-right: 10px;
}
footer a {
    color: #fff;
}
footer a:hover {
    opacity: 0.9;
}

/*======= RESPONSIVE =======*/
@media only screen and (max-width: 1399px) {
    nav li a {
        padding: 0 14px;
    }
}
@media only screen and (max-width: 1099px) {
    nav li a {
        padding: 0 8px;
    }
}
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 56px;
        line-height: 49px;
    }
    h2 {
        font-size: 54px;
        line-height: 62px;
    }
    h4 {
        font-size: 16px;
    }
    nav li a {
        padding: 15px;
    }
    .valign-wrapper {flex-wrap: wrap;}
    #index-banner {
        text-align: center;
        padding: 70px 0;
    }
    #index-banner .btn-large {
        margin-bottom: 20px;
    }
    #testimonials {
        padding: 0;
    }
}
@media only screen and (max-width: 601px) {
    #testimonials {
        text-align: center;
        background: none;
    }
    .three .owl-theme .owl-dots { 
        text-align: center;
    }
    .two .btn-block {
        width: 100%;
    }
     .pricing-card {
        width: 100%;
    }
    
}

#auth_modal {
	top: 20% !important;
	width: 25%;
}